@use '../styles.scss' as *;

:host {
  background-color: $bg-primary;
  display: flex;
  flex-direction: column;
  gap: $size-12x;

  > header {
    margin: 0 auto;
    width: 100%;
    max-width: 314px;
    color: $color-primary;
    height: 50px;
    padding-top: 3rem;
    background-color: $bg-header;
    position: sticky;
    top: 0;
    backdrop-filter: blur(12px);

    > div {
      display: flex;
      align-items: center;
      gap: $size-2x;

      > img {
        width: 40px;
        height: 40px;
      }

      > span {
        font-size: $size-6x;
        font-weight: bold;
      }
    }
  }

  > main {
    margin: 0 auto;
    width: 100%;
    max-width: 314px;
    display: flex;
    flex-direction: column;
    gap: $size-12x;

    > .my-human-section {
      > img {
        width: 100%;
        border-radius: $border-radius-md;
      }

      > h1 {
        text-align: center;
        margin: $size-4x 0 0;
        color: $text-primary;
      }

      > p {
        text-align: center;
        margin: $size-3x 0 0;
        color: $text-secondary;
        font-size: $size-4x;
      }
    }

    .my-location-section {
      display: flex;
      align-items: center;
      gap: $size-4x;
      background-color: $bg-secondary;
      padding: $size-4x;
      border-radius: $border-radius-md;
      border: $border-light;

      > img {
        width: 40px;
        height: 40px;
      }

      > section {
        display: flex;
        flex-direction: column;
        gap: $size-2x;

        > h3 {
          margin: 0;
          font-size: $size-3x;
          color: $text-secondary;
        }

        > p:nth-child(2) {
          margin: 0;
          color: $text-primary;
          font-size: $size-4x;
        }

        > p:nth-child(3) {
          margin: 0;
          color: $text-secondary;
          font-size: $size-3x;
        }
      }
    }

    .call-me-btn {
      margin: 0 auto;
      display: flex;
      align-items: center;
      gap: $size-3x;
      background-color: $color-primary;
      color: $text-primary;
      border: none;
      border-radius: $border-radius-lg;
      padding: $size-3x $size-6x;
      font-size: $size-8x;
      box-shadow: $shadow-md;
      cursor: pointer;
      transition:
        background-color 0.3s ease,
        box-shadow 0.3s ease;

      > img {
        width: 40px;
        height: 40px;
      }

      &:hover {
        box-shadow: $shadow-xl;
      }

      &:active {
        background-color: $color-primary-darker;
        box-shadow: $shadow-sm;
      }
    }
  }
}
