@use '../styles.scss' as *;

:host {
  background-color: $bg-primary;
  display: flex;
  flex-direction: column;
  gap: $size-12x;

  > header {
    margin: 0 auto;
    width: 100%;
    max-width: 314px;
    color: rgba(53, 158, 255, 0.8);
    height: 50px;
    padding-top: 3rem;
    background-color: rgb(15 25 35 / 0.8);
    position: sticky;
    top: 0;
    backdrop-filter: blur(12px);
  }

  > main {
    margin: 0 auto;
    width: 100%;
    max-width: 314px;

    > .my-human-section {
      > img {
        width: 100%;
        border-radius: $border-radius-md;
      }

      > h1 {
        text-align: center;
        margin: $size-4x 0 0;
        color: $text-primary;
      }

      > p {
        text-align: center;
        margin: $size-3x 0 0;
        color: $text-secondary;
        font-size: $size-4x;
      }
    }
  }
}
